:root{
    --lightBGColor: #e5e5e5;
    --darkBGColor: #121017;
    --btnColor: #b02e24;
    --darksoftColor: #1E1F24;
    --borderColor: #1c1c1c;
    --hoverBGColor: #3b3d4880;
    --darkglassBGColor: #3b3d48c5;
    --mainfont-fonts: "PT Sans Narrow", sans-serif;
    --roundishfont-fonts: "Comfortaa", sans-serif;
    --techyfont-fonts: "Tektur", sans-serif;
    --robotofont-fonts: "Roboto Flex", sans-serif;
}
/*
"PT Sans Narrow",
"Ysabeau SC",
"Roboto Flex",
"Raleway",
"Comfortaa","Monrope","Jura","Sofia Sans Extra Condensed","M PLUS Rounded 1c","Noto sans","Istok Web", 
sans-serif;*/

.MBack{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: auto;
    background-image:url("BGpic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    transition: 1.5s ease-in-out;
}
.Main{
    width: 95vw;
    height: 57.3rem;
    display: flex;
    margin-top: 1.2rem;
    margin-left: 1.5rem;
    margin-bottom: 5vh;
    border-radius: 30px;
}
.Language{
    position: fixed;
    top: 1.2rem;
    right: 0.6rem;
}
.CountryFlag:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
.CountryFlag{
    width: 40px;
    height: 35px;
}
.MainSback{
    width: 100%;
    height: 57.3rem;
    background-image: url("LandingPL.png");
    background-color: var(--lightBGColor);
    background-size: 100%;
    background-repeat:no-repeat;
    background-position: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: grid;
    grid-template-rows: repeat(1, 57.3rem);
    grid-template-columns: repeat(2, 1fr);
    transition: 0.5s ease-in-out;
}


#Services{
    width: 60rem;
    height: 50rem;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    background-color: var(--darksoftColor);
    display: none;
    position: relative;
    top: 7%;
    left: -70%;
    float: left;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
}
.wrppr{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contnr{
    height: 45rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.cardd{
    width: 5rem;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(.28, -0.03,0,.99);
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.8);
}
.cardd > .roww{
    color: var(--lightBGColor);
    display: flex;
    flex-wrap: nowrap;
    backdrop-filter: blur(50%);
    background-image: linear-gradient(var(--hoverBGColor),var(--darkBGColor));
}
.cardd > .roww > .icon{
    color: var(--lightBGColor);
    border-radius: 50%;
    width: 4rem;
    height: 3rem;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 1.4rem;
    font-family: var(--techyfont-fonts);
}
.cardd > .roww > .descrtn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    height: 6rem;
    width: 100%;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    font-family: var(--robotofont-fonts);
}
.descrtn p{
    color: var(--lightBGColor);
    padding-top: 1.2rem;
    font-size: 1.3rem;
}
.descrtn h4{
    text-transform: uppercase;
    font-size: 1.5rem;
}
.contnr input{
    display: none;
}
.contnr input:checked + label{
    width: 35rem;
}
.contnr input:checked + label .descrtn{
    opacity: 1 !important;
    height: 18rem;
    transform:  translateY(0) !important;
}
.cardd[for="cc1"]{
    background-image: url('005r.jpg');
}
.cardd[for="cc2"]{
    background-image: url('001r.jpg');
}
.cardd[for="cc3"]{
    background-image: url('004r.jpg');
}
.cardd[for="cc4"]{
    background-image: url('002r.jpg');
}



.topParts{
    width: 100%;
    height: 57.3rem;
    border: 2px solid #1c1c1c7a;
    display: none;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}
.MostWanted{
    width: 100%;
    height: 22rem;
    display: flex;
    justify-content: left;
    align-items:end;
    padding-right: 20%;
    padding-left: 5%;
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: bolder;
    color: #5e060b;
    font-family: var(--mainfont-fonts);
}
.MWtitle{
    width: 100%;
    height: 6rem;
    padding-left: 5%;
    padding-right: 15%;
    padding-top: 6%;
    padding-bottom: 0;
    font-family: var(--mainfont-fonts);
    color: #440e18;
    display: flex;
    justify-content:left;
    align-items: center;
    font-size: clamp(1.4rem, 2.5vw, 2.2rem);
    font-weight: 700;
}
.Specs{
    width: 100%;
    height: 14.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: scroll;
    padding-left: 5%;
    padding-right: 15%;
    padding-top: 0;
    padding-bottom: 5%;
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    color: #121017;
    font-family: var(--mainfont-fonts);
}
.Call{
    width: 100%;
    height: 11rem;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 2.5vw;
    font-weight: 800;
    color: #137013;
    font-family: var(--roundishfont-fonts);
}
.MoreParts{
    width: 100%;
    height: 50vh;
    position: absolute;
    align-self: flex-end;
    margin-top: 2rem;
    font-family: var(--mainfont-fonts);
    background-color: var(--darkglassBGColor);
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: scroll;
    gap: 1.7vw;
    row-gap: 1rem;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: 0.3s ease-out;
}
.Mpart:hover{
    transform: scale(1.05);
}
.Mpart{
    width: 15rem;
    height: auto;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    transition: 0.4s ease;
}
.MoreParts img{
    width: 100%;
    height: auto;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.ttl{
    width: inherit;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #1c1c1c;
    font-family: var(--techyfont-fonts);
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    text-anchor: start;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(#e5e5e525,#e5e5e577, #b0b0b0c3,#48484890);
}
.PopUp:hover{
    height: 2.8rem;
    cursor: pointer;
}
.PopUp{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-self: flex-end;
    background-color: var(--darksoftColor);
    color: var(--lightBGColor);
    transition: 0.2s ease-in-out;
    z-index: 100;
}
.bi bi-caret-up-fill{
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
}
.bi bi-caret-down{
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
}
.Allparts{
    width: 100%;
    height: auto;
    font-family: var(--techyfont-fonts);
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.4rem;
}



.Parts{
    width: 100%;
    height: 96vh;
    background-color: #bdbec700;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    display: none;
    opacity: 40%;
}
.part:hover{
    background-color: #3b3d4880;
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
    opacity: 40%;
}
.part{
    width: 50%;
    height: 19.1rem;
    background-color: #cccccc00;
    border: 2px solid #1c1c1c;
    font-size: large;
    font-weight: 600;
    font-family: var(--techyfont-fonts);
    color: #1E1F24;
    text-align:right;
    padding-top: 27vh;
    padding-left: 0;
}
.part1:hover{
    background-color: #3b3d4880;
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
    opacity: 40%;
}
.part1{
    width: 50%;
    height: 19.1rem;
    background-color: #cccccc00;
    border: 2px solid #1c1c1c;
    font-size: large;
    font-weight: 600;
    font-family: var(--techyfont-fonts);
    color: #1E1F24;
    text-align:right;
    padding-top: 27vh;
    padding-left: 0;
    border-top-right-radius: 30px;
}
.part2:hover{
    background-color: #3b3d4880;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 40%;
}
.part2{
    width: 50%;
    height: 19.1rem;
    background-color: #cccccc00;
    border: 2px solid #1c1c1c;
    font-size: large;
    font-weight: 600;
    font-family: var(--techyfont-fonts);
    color: #1E1F24;
    text-align:right;
    padding-top: 27vh;
    padding-left: 0;
    border-bottom-right-radius: 30px;
}
.part:hover{
    background-color: #3b3d4880;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 40%;
}
.part:hover p{
    box-shadow: inset -500px 0 0 0 #101616;
    transition: ease-out 0.6s;
    animation: fade-in linear;
    color: #e9e3d5;
}
.part1:hover p{
    box-shadow: inset -500px 0 0 0 #101616;
    transition: ease-in-out 0.6s;
    animation: fade-in linear;
    color: #e9e3d5;
}
.part2:hover p{
    box-shadow: inset -500px 0 0 0 #101616;
    transition: ease-in-out 0.6s;
    animation: fade-in linear;
    color: #e9e3d5;
}
.part p{
    width: 100%;
    height: 100%;
    justify-content: end;
    padding-top: 5%;
    text-align: center ;
    overflow: hidden;
    box-shadow: inset 0 0 0 0 #101616;
}
.part1 p{
    width: 100%;
    height: 100%;
    justify-content: end;
    padding-top: 5%;
    text-align: center ;
    overflow: hidden;
    box-shadow: inset 0 0 0 0 #101616;
}
.part2 p{
    width: 100%;
    height: 100%;
    justify-content: end;
    padding-top: 5%;
    text-align: center ;
    overflow: hidden;
    border-bottom-right-radius: 30px;
    box-shadow: inset 0 0 0 0 #101616;
}


.SideM{
    width: 215px;
    height: 57.3rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: var(--darksoftColor);
    align-content: center;
    border-color: #0F0F0F;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.menuText{
    padding-top: 50px;
    width: 100%;
    height: 493px;
}
.SideMtext:hover{
    border-radius: 2px;
    overflow: hidden;
    background: #b02e24;
    font-weight: 400;
    cursor: pointer;
    color: #e9e3d5;
    cursor: pointer; 
    box-shadow: inset 500px 0 0 0 #b02e24;
}
.SideMtext a{
    height: 100%;
    padding: 0;
    text-decoration: none;
    color: #0F0F0F; 
    transition: 0.2s ease-in-out;
}
.SideMtext{
    font-size: 1.3rem;
    font-family: var(--mainfont-fonts);
    text-align: center;
    color: #e9e3d5;
    font-weight: 450;
    padding-bottom: 30px;
    padding-top: 30px;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 var(--btnColor);
}
.Logo{
    height: 8rem;
    width: 8rem;
    border: none;
    padding-top: 150px;
    align-items: center;
    background-image: url("LogoNoW.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.SocialCont{
    width: 150px;
    height: auto;
    padding-top: 110px;
    justify-content: space-around;
    align-items: center;
}
.Emailicon:hover{
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Emailicon{
    flex-direction: row;
    width: 32px;
    height: 32px;
    margin-left: 11px;
    opacity: 80%;
}
.Facebookicon:hover{
    border-radius: 3px;
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Facebookicon{
    flex-direction: row;
    width: 32px;
    height: 32px;
    margin-left: 11px;
    opacity: 80%;
}
.Instagramicon:hover{
    border-radius: 3px;
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.Instagramicon{
    flex-direction: row;
    width: 32px;
    height: 32px;
    margin-left: 11px;
    opacity: 80%;
}



.HR{
    width: 100%;
    height: 57.3rem;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    box-sizing: border-box;
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.container{
    width: 15rem;
    height: 22rem;
    perspective: 80rem;
    margin-top: 5rem;
}
.card1{
    height: 100%;
    width: 100%;
    position: relative;
    background: var(--darkBGColor);
    border-radius: 1rem;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}
.card1{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}
.front-side,.back-side{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px rgba(50,50,50,0.25);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    text-align: center;
    justify-self: center;
    align-items: flex-end;
    justify-content: center;
}
.front-side{
    overflow: hidden;
    background-size: cover;
}
.back-side{
    /*background-color: var(--darkBGColor);*/
    background-image: url("NameCardCurve.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.container:hover > .card1 {
    cursor: pointer;
    transform: rotateY(180deg);
}
.HR h1{
    font-family: var(--mainfont-fonts);
    color: var(--darkBGColor);
}
.HR h2{
    font-family: var(--mainfont-fonts);
    color: var(--lightBGColor);
    padding: 0.6rem 2rem;
    font-size: 1.3rem;
    border-top-left-radius: 1rem;   
    border-top-right-radius: 1rem;
    background-color: var(--darkglassBGColor);
}
.HR p{
    font-family: var(--mainfont-fonts);
    color: var(--darkBGColor);
    font-size: 1.2rem;
    margin-top: 1rem;
}




#AdvPage{
    display: none;
    height: 57.3rem;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: auto;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    align-items: center;
    /*background-color: #e5e5e5;*/    
    background-color: var(--hoverBGColor);
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite forwards;
    color: #fdfcfd;
    font-family: var(--mainfont-fonts);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-corner {display: none;}
::-webkit-scrollbar-track {margin-top: 13px;}
::-webkit-scrollbar:hover {width: 13px;}
::-webkit-scrollbar-thumb {background: #464646; border-radius: 3px;}
::-webkit-scrollbar-thumb:hover {background: #373636; width: 15px;}
.card:hover{
    box-shadow: 4px 6px 8px #1210175e;
    transform:translateY(3px);
    transition: 0.3s ease-in-out;
    opacity: 1;
}
.card{
    display: flex;
    align-items: center;
    width: 80vw;
    max-width: 1050px;
    min-width: 480px;
    min-height: 400px;
    padding: 80px 30px 60px 20px;
    margin: 30px 20px;
    background: #0f0e0e;
    border-radius: 14px;
    box-shadow: 8px 8px 8px #1210175e;
    opacity: 0.95;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.card img{
    max-width: 280px;
    width: 35vw;
    height: 380px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 80px;
    border-radius: 10px;
    box-shadow: 0 60px 40px rgb(0 0 0/8%);
}
.card h2{
    font-size: 2.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 20px;
    font-family:var(--mainfont-fonts);
}
.card h3{
    font-family: var(--mainfont-fonts);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin: 10px 0;
    opacity: 0.75;
}
.card p{
    display: flex;
    font-family: var(--mainfont-fonts);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 50px;
    opacity: 0.7;
}
.card button:hover{
    box-shadow: inset 500px 0 0 0 #600e0e;
    transition: ease-out 0.4s;
    animation: fade-in linear;
    color: var(--lightBGColor);
    cursor: pointer;
}
.card button {
    width: 60%;
    display: grid;
    place-items: center;
    border: 0;
    overflow: hidden;
    background: #b02e24;
    color: #e9e3d5;
    padding: 16px 26px;
    font-size: 1.5rem;
    border-radius: 14px;
    text-decoration: none;
}


@keyframes scroll-watcher {
    to {scale: 1 1;}
}
@keyframes fade-in {
    0%{ scale: 0.8; opacity: 0;}
    30%{ scale: 0.9; opacity: 0.5;}
    100%{ scale: 1; opacity: 1;}
}
@keyframes color {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
@keyframes rotate {
    100% {transform: rotate(1turn);}
}



#footer{
    width: 95vw;
    height: auto;
    margin-bottom: 2.5rem;
    margin-top: 5rem;
    margin-left: 1.5rem;
    border-radius: 20px;
    background-color: #1E1F24;
    scroll-snap-align: start;
}
.HamtOlon:hover{
    filter: grayscale(0%);
    transition: 0.8s ease-in-out;
}
.HamtOlon{
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    filter: grayscale(40%);
    transition: 0.5s ease-in-out;
}
#footer h1{
    padding-top: 7vh;
    padding-bottom: 5vh;
    font-family: var(--mainfont-fonts);
    font-size: 4rem;
    font-weight: 400;
    display: flex;
    align-content: center;
    justify-content: space-around;
    color: #e9e3d5;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.LiveMap .ContactInfo h2{
    font-family: var(--mainfont-fonts);
    padding: 15%;
    font-size: clamp(0.8rem 4vw 1.5rem);
    font-weight: 400;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #e9e3d5;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
#footer h2{
    padding-bottom: 10vh;
    padding-left: 15%;
    padding-right: 15%;
    font-family: var(--mainfont-fonts);
    font-size: 1.65rem;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    color: #e9e3d5;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.Milestone{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 10vh;
    padding-top: 5vh;
    justify-content: space-around;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.box{
    width: 25rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.box img{
    width: 100px;
    height: fit-content;
    padding-bottom: 1.5vh;
}
.movingIcon{
    width: 80%; 
    height: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.counter{
    width: 80%;
    height: 30%;
    font-size: 70px;
    font-weight: 700;
    font-family: var(--mainfont-fonts);
    display: flex;
    justify-content: center;
    align-content: center;
    color: #e9e3d5;
}
.tailbar{
    width: 80%;
    height: 10%;
    font-weight: 600;
    font-family: var(--mainfont-fonts);
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    color: #e9e3d5;
}


.fbvideo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 5rem;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.VSideT{
    width: 100%;
    height: auto;
    padding: 2% 10%;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 12vw;
    margin-right: 12vw;
    font-family: var(--mainfont-fonts);
    font-size: 4vh;
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    color: #e9e3d5;
}

.LiveMap:hover{
    opacity: 1;
    transition: ease-in-out 0.3s;
}
.LiveMap{
    width: 90%;
    height: auto;
    display: flex;
    margin-bottom: 13vh; margin-left: 5%; margin-right: 5%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    opacity: 0.5;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}

.Rfooter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
}
.BSocial{
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 200px;
}
.BSocial .Facebookicon{
    width: 40px;
    height: 40px;
}
.BSocial .Instagramicon{
    width: 40px;
    height: 40px;
}
.BSocial .Emailicon{
    width: 40px;
    height: 40px;
}
.Address{
    width: 40vw;
    height: auto;
    padding-bottom: 40px;
    font-family: var(--mainfont-fonts);
    color: #e9e3d5;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.Contact{
    width: 25vw;
    height: auto;
    font-family: var(--mainfont-fonts);
    color: #e9e3d5;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    padding-bottom: 40px;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.Email{
    width: 25vw;
    height: auto;
    font-family: var(--mainfont-fonts);
    color: #e9e3d5;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    padding-bottom: 20px;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}

.line{
    width: 95vw;
    height: 2px;
    display: flex;
    justify-self:center;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    background-color: #e9e3d5;
    border-color: #e9e3d5;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}
.ARR{
    width: 85vw;
    height: auto;
    margin: 1.5rem 5rem;
    font-family: var(--mainfont-fonts);
    color: #e9e3d5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(1rem, 5vw, 1.5rem);
}


.BackToTop:hover{
    background-color: #b02e24;
    transform: translateY(-2px);
}
.BackToTop{
    position: fixed;
    bottom: 2rem;
    right: 0.6rem;
    display: inline-flex;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    background-color: #b02d24ac;
    text-decoration: none;
    padding: 0.5rem;
    transition: 0.2s ease-out;
}
.BackToTop span:hover{
    transform: translateY(-1.7px);
}
.BackToTop span{
    color: #f8f8f8;
    font-size: 1.8rem;
    transition: 0.3s ease-out;
}






@media (width <=600px) {
    .Main{
            display: none;
    }
    .Language{
        display: none;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        height: auto;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        background-image: url("BGpicReduce.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .MBack{
        height: 57rem;
        width: 470px;
        display: flex;
        border-radius: 1.1rem;
        flex-direction: column;
        align-items: center;
        background-color: var(--lightBGColor);
        background-image: url('LandingPLL.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .menuwrpr{
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        height: 4.4rem;
        width: 100%;
        background-color: var(--darksoftColor);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .Logo{
        display: flex;
        height: 3.8rem;
        width: 3.8rem;
        border: none;
        align-content: center;
        justify-content: center;
        margin: 0.2rem;
        background-image: url("LogoNoW.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .menuBTN{
        width: 4.4rem;
        height: 4.4rem;
        color: var(--lightBGColor);
    }
    #mShow{
        background-color: var(--darksoftColor);
        display: flex;
        border: none;
        border-radius: 0.5rem;
        color: var(--lightBGColor);
        justify-content: center;
        align-items: center;
        margin: 1rem 1rem;
        font-size: 2.5rem;
    }
    #mShow:hover{
        cursor: pointer;
    }
    .cntnt{
        width: 470px;
        height: 57rem;
        position: relative;
    }
    #tses{
        width: 100%;
        display: none;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
    }
    .tsesniiheseg{
        height: 4.4rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--techyfont-fonts);
        font-size: larger;
        color: var(--lightBGColor);
        text-align: center;
        border: 1px solid #32343db4;
        background-color: var(--darkglassBGColor);
    }
    .tsesniiheseg:hover{
        cursor: pointer;
    }
    
    .SocialCont{
        width: 100%;
        background-color: var(--darkglassBGColor);
        display: flex;
        flex-direction: row;
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 2rem;
        justify-content: center;
    }
    .Emailicon:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }
    .Emailicon{
        flex-direction: row;
        width: 32px;
        height: 32px;
        margin-left: 11px;
    }
    .Facebookicon:hover{
        border-radius: 3px;
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }
    .Facebookicon{
        flex-direction: row;
        width: 32px;
        height: 32px;
        margin-left: 11px;
    }
    .Instagramicon:hover{
        border-radius: 3px;
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }
    .Instagramicon{
        flex-direction: row;
        width: 32px;
        height: 32px;
        margin-left: 11px;
    }
    .mn{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    /*Ene hesegt uilchilgeetei holbootoi medeelel*/
    .menu1{
        display: none;
        overflow-x: hidden;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }
    .srv{
        position: absolute;
        width: 470px;
        height: auto;
        top: 0;
        transition:  transform 300ms ease-out;
    }
    img{
        width: 470px;
        height: 52.4rem;
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .taiHeseg{
        width: 100%;
        height: 17rem;
        position: absolute;
        bottom: 0;
        border-bottom-left-radius: 1.1rem;
        border-bottom-right-radius: 1.1rem;
        background-image: linear-gradient(var(--hoverBGColor),var(--darkBGColor));
    }
    .garchig{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: x-large;
        padding-top: 2.2rem;
        color: var(--lightBGColor);
        font-family: var(--techyfont-fonts);
    }
    .tailbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size:medium;
        text-align: center;
        padding-top: 2.2rem;
        margin-left: 5rem;
        margin-right: 5rem;
        color: var(--lightBGColor);
        font-family: var(--techyfont-fonts);
    }
    .menu1 .btn{
        font-size: 2rem;
        height: 5rem;
        background: var(--hoverBGColor);
        color: var(--lightBGColor);
        padding: 4px 6px;
        border-radius:0.5rem;
        border: none;
        margin: 10px;
        position: absolute;
        transform: translateY(50%);
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .menu1 .btn:hover{
        background-color: var(--darksoftColor);
    }
    .btn.previous{
        top: 50%;
        left: 0;
    }
    .btn.next{
        top: 50%;
        right: 0;
    }
    /*Ene hesegt buteegdehuunuud orno*/
    .menu2{
        display: none;
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x: hidden;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--darkglassBGColor);
    }
    .p{
        display: flex;
        position: relative;
        flex-direction: column;
        padding-top: 2rem;
        align-items: center;
        width: 50%;
    }
    .p img{
        width: 90%;
        height: auto;
        border-radius: 0.8rem;
    }
    .p p{
        position: absolute;
        bottom: 0;
        width: 90%;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 4px 0;
        border-bottom-left-radius: 0.85rem;
        border-bottom-right-radius: 0.85rem;
        color: var(--darkBGColor);
        font-family: var(--techyfont-fonts);
        background-color: var(--hoverBGColor);
    }
    /*Ene hesegt Ajilchidiin medeelel orno*/
    .menu4{
        display: none;
        flex-wrap: wrap;
        overflow: scroll;
        flex-direction: row;
        justify-content: center;
        padding-top: 2rem;
        gap: 2rem;
    }
    .nameDiv{
        width: 420px;
        height: 11rem;
        border-radius: 0.5rem;
        background: var(--darksoftColor);
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
    .nameDiv img{
        width: 40%;
        height: fit-content;
    }
    .WPart{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .Nametg{
        width: 100%;
        height: 50%;
        display: flex;
        font-size: larger;
        justify-content: center;
        align-items: center;
        font-family: var(--techyfont-fonts);
        color: var(--lightBGColor);
    }
    .WYear{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        font-family: var(--techyfont-fonts);
        color: var(--lightBGColor);
    }
    .Proff{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        font-family: var(--techyfont-fonts);
        color: var(--lightBGColor);
    }
    /*Ene hesegt zuwulguunuud orno*/
    .menu5{
        width: 100%;
        height: 52.4rem;
        display: none;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x: hidden;
        gap: 1rem;
    }
    .menu5 img{
        width: 10rem;
        height: 10rem;
        left: 0;
        transform: translateY(-0.5rem);
    }
    .pccr{
        float: right;
    }
    .leftPic{
        width: 100%;
        height: 11rem;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding: 1rem;
        background-color: #b02d24d7;
        opacity: 0.8;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
    .rightPic{
        width: 100%;
        height: 11rem;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding: 1rem;
        background: #1c1c1cd6;
        opacity: 0.8;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
    }
    .tail{
        padding: 0 1.5rem;
        height: 11rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--lightBGColor);
        font-family: var(--mainfont-fonts);
        font-weight: 100;
        transform: translateY(-1rem);
    }
    .tail1{
        padding: 0 1.5rem;
        height: 11rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--lightBGColor);
        font-family: var(--mainfont-fonts);
        font-weight: 100;
        transform: translateY(-1rem);
    }
    .tail h2{
        height: 2.5rem;
        font-size: 1.6rem;
        text-align: left;
        line-height: 1.3rem;
    }
    .tail h3{
        padding-top: 1rem;
        height: 5rem;
        font-size: 1.1rem;
        line-height: 1.3rem;
        overflow: hidden;
    }
    .tail1 h2{
        height: 2.5rem;
        text-align: right;
        font-size: 1.6rem;
        line-height: 1.3rem;
    }
    .tail1 h3{
        padding-top: 1rem;
        text-align: end;
        height: 5rem;
        font-size: 1.1rem;
        line-height: 1.3rem;
        overflow: hidden;
    }
    
}